#channel-context,
#dev-context,
#expression-picker,
#image-context,
#mentions-filter,
#notification-actions,
#user-context,
.flexible_d90b3d,
.messages_c06487 {
  position: relative;
}
#popout_4842,
.addAnswerButton_f24a96,
.authorize_c5a065,
.autocomplete_bcc24e .wrapper_ba23fe,
.backdrop__1a911:not(
    :has(~ div > div > :is(.modal_aee8c6, .carouselModal_d2b9a1))
  ),
.badgeList_ec3b75,
.benefit_a3545a,
.body_bf926b,
.channelHeader_f3978e,
.container__33507,
.container__6e389,
.container__d6dad3,
.container_acb8b3,
.container_b56bbc,
.container_d0f4b1,
.container_eedf95,
.container_effbe2,
.container_f1c3d9,
.container_fe1358,
.contentFill_c43059,
.contentWrapper_af5dbb,
.contentWrapper_ed5743,
.decorationGridItem_b35b54,
.decorationPreview_aba31b,
.emojiPicker_c6ee36,
.focused_eedf95,
.footer_ac90a2,
.footer_af82cc7,
.footer_c5a065,
.footer_f9a4c9,
.guildPopout_cf5d0a .body_cf5d0a,
.guildSection_e58351,
.header_ac90a2,
.header_c6ee36,
.header_e664f3,
.header_fa4e6d,
.input_f4e139,
.inspector_c3120f,
.list_f20a46,
.menu_d90b3d,
.messageGroupWrapper_ac90a2,
.messagesPopoutWrap_ac90a2,
.modalHeader_cd3d24,
.modal_cedfaf,
.navButtons_cd377c,
.optionBox_f2f431,
.option_b0286e::after,
.paymentModalContent .content_cc6017,
.popoutNoBannerPremium_c3e427,
.popout_c5b389,
.previewContainer_adbea6,
.profileBadges_f89da9,
.quickswitcher_f4e139,
.reactors_f2bfbb,
.resultsGroup_b0286e,
.rolePill_fa2f72,
.root_f9a4c9:not(.modalRoot_d8e2d0),
.scrollTierBackground_f09e45,
.scroller_cbdbf0,
.scroller_d90b3d,
.scroller_f2bfbb,
.scroller_f4e139,
.skuSelectModalContent_f92df2,
.skuSelectModalHeader_f92df2,
.smallDecorationPreviewsContainer_aba31b,
.tier0_c87d73,
.tier2_c87d73,
.userProfileInner_c69a7b .input_f8bc55,
.vc-notification-root,
.voters_cbdbf0,
.wrapper_ba23fe,
.wrapper_bfc2c6,
.wrapper_c43059,
.wrapper_e06857,
.wrapper_f7e168,
.wrapper_efd8e6,
:not(aside):not(
    .customizati:not(aside):not(.customizationSection_b3a5c2)
      > div
      > .userProfileInnerThemedNonPremium_c69a7b,
    onSection_b3a5c2
  )
  > div
  > div
  > .overlayBackground_c69a7b,
:not(aside):not(.customizationSection_b3a5c2) > .biteSizeInnerThemed_c69a7b,
:not(aside):not(.customizationSection_b3a5c2) > .userProfileOuterThemed_c69a7b,
:not(aside):not(.customizationSection_b3a5c2)
  > .userProfileOuterUnthemed_c69a7b,
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > .fullSizeInnerThemed_c69a7b,
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > .userProfileInnerThemedNonPremium_c69a7b,
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > .userProfileInnerThemedPremiumWithoutBanner_c69a7b,
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > .userProfileInnerThemedWithBanner_c69a7b,
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > .userProfileInner_c69a7b:before {
  background: 0 0 !important;
}
.userProfileInnerThemedNonPremium_c69a7b .popoutBanner_c3e427 {
  opacity: 0;
}
.tier0_c87d73::before,
.tier2_c87d73::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: calc(var(--opacity-popup) * 0.8);
}
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > .userProfileInnerThemedPremiumWithoutBanner_c69a7b::after,
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > .userProfileInnerThemedWithBanner_c69a7b:after {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  padding: 4px;
  border-radius: calc(var(--radius-popup) + 1px);
  background: linear-gradient(
    var(--profile-gradient-primary-color),
    var(--profile-gradient-secondary-color)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.tier0_c87d73::before,
.tier2_c87d73::before,
.wrapper_f7e168::before,
[class^="toast_"]::after {
  z-index: -1;
  border-radius: inherit;
}
.theme-light .inner__999f6,
.theme-light .inner_effbe2,
.theme-light .wrapper_ba23fe {
  background: rgba(0, 0, 0, 0.05) !important;
}
.theme-dark .inner__999f6,
.theme-dark .inner_effbe2,
.theme-dark .wrapper_ba23fe {
  background: rgba(255, 255, 255, 0.05) !important;
}
.userProfileInner_c69a7b .inner_dc0b43 {
  background: rgb(var(--bg-overlay-color-inverse) / 0.1);
}
.tier2_c87d73::before {
  background-image: var(--custom-premium-colors-premium-gradient-tier-2);
}
.tier0_c87d73::before {
  background-image: var(--custom-premium-colors-premium-gradient-tier-0);
}
.autocomplete_bcc24e::before,
.streamPreview_adbea6::before,
.wrapper_f7e168::before,
[class^="toast_"]::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: var(--opacity-popup);
}
#manage-multi-account,
#sort-and-view,
#user-profile-actions,
.autocomplete_bcc24e,
.container__23c08,
.container_ae4f46,
.container_b572de,
.container_e664f3,
.container_e88961,
.container_f1c3d9,
.contentWrapper_af5dbb,
.customColorPicker_bbc020,
.focusLock_f9a4c9 > .modal_ed23b8,
.guildPopout_cf5d0a,
.languageSelector_d8e2d0,
.messagesPopoutWrap_ac90a2,
.picker_cd703d,
.popout_c5b389,
.popout_e6af9c,
.prompt_cd377c,
.quickswitcher_f4e139,
.reactionTooltip_fba897,
.recentMentionsPopout_ddb5b4,
.rootWithShadow_f9a4c9:has(> .reactorsContainer_f2bfbb),
.root_f9a4c9:has(> .content_cd79c9),
.root_f9a4c9:has(> .transitionGroup_ae36eb),
.root_f9a4c9:has(> [id]),
.root_f9a4c9:has(> div > div > form > .header_f9a4c9),
.selectFilterPopout_cfe282,
.streamPreview_adbea6,
.uploadModal_f82cc7,
.vc-notification,
.wrapper_f7e168,
[aria-labelledby] > .root_f9a4c9:not(:has(> [aria-labelledby])),
[class^="toast_"] {
  background: 0 0 !important;
  backdrop-filter: blur(var(--blur-popup));
}
#channel-attach::after,
#friend-row::after,
#guild-context::before,
#guild-header-popout::before,
.container_e88961::before,
.container_eedf95::before,
.modal_cedfaf::before,
.rootWithShadow_f9a4c9:not(:has(> .quickswitcher_f4e139)):before,
.root_f9a4c9:has(> .form_acae5d)::before,
.root_f9a4c9:has(> div > .connectionsContainer_ec99f9)::before,
.submenuPaddingContainer_d90b3d::before,
.wrapper_c43059::before,
:not(.contentWrapper_af5dbb) > #emoji-picker-tab-panel::before,
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > .userProfileInner_c69a7b:before,
[role="menu"][id]:not(#account):not(#guild-context):not(
    #guild-header-popout
  )::after {
  content: "";
  backdrop-filter: blur(var(--blur-popup));
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0 0;
  z-index: -1;
  border-radius: inherit;
}
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > .userProfileInner_c69a7b:before {
  z-index: inherit;
}
#guild-context::after,
#guild-header-popout::after,
#sort-and-view::after,
.container__23c08::before,
.container_ae4f46::before,
.container_e664f3::after,
.container_eedf95::after,
.contentWrapper_af5dbb::before,
.customColorPicker_bbc020::after,
.focusLock_f9a4c9 > .modal_ed23b8::after,
.form_acae5d::after,
.guildPopout_cf5d0a::after,
.languageSelector_d8e2d0::after,
.layer_cd0de5:has(.container_e88961)::before,
.menu_d90b3d:not(#guild-context):not(
    #sort-and-view
  ).flexible_d90b3d:first-child::before,
.popout_e6af9c::after,
.popout_f6639d::after,
.quickswitcher_f4e139::after,
.recentMentionsPopout_ddb5b4::after,
.rootWithShadow_f9a4c9:has(> .reactorsContainer_f2bfbb)::after,
.root_f9a4c9:has(> .content_cd79c9)::after,
.root_f9a4c9:has(> .transitionGroup_ae36eb)::after,
.root_f9a4c9:has(> [id])::after,
.root_f9a4c9:has(> div > .connectionsContainer_ec99f9)::after,
.root_f9a4c9:has(> div > div > form > .header_f9a4c9)::after,
.submenu_d90b3d.menu_d90b3d::before,
.uploadModal_f82cc7::after,
.vc-notification::after,
.wrapper_c43059::after,
:not(.contentWrapper_af5dbb) > #emoji-picker-tab-panel::after,
:not(aside):not(.customizationSection_b3a5c2)
  > .userProfileOuterThemed_c69a7b::before,
:not(aside):not(.customizationSection_b3a5c2)
  > .userProfileOuterUnthemed_c69a7b::before,
[aria-labelledby] > .root_f9a4c9:not(:has(> [aria-labelledby]))::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(
    --pop-up-color,
    var(--bg-overlay-3, var(--background-secondary))
  );
  opacity: var(--opacity-popup);
  z-index: -1;
  border-radius: inherit;
}
[class^="toast_"]::after {
  background: var(
    --pop-up-color,
    var(--bg-overlay-app-frame, var(--background-tertiary))
  );
}
.container_b572de::after,
.modal_cedfaf::after,
.picker_cd703d::before,
.popout_c5b389::after,
.prompt_cd377c::after,
.selectFilterPopout_cfe282::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(
    --pop-up-color,
    var(--bg-overlay-chat, var(--background-primary))
  );
  opacity: var(--opacity-popup);
  z-index: -1;
  border-radius: inherit;
}
.wrapper_f7e168::before {
  background: var(
    --pop-up-color,
    var(--bg-overlay-5, var(--background-primary))
  );
}
.autocomplete_bcc24e::before,
.streamPreview_adbea6::before {
  background: var(
    --pop-up-color,
    var(--bg-overlay-3, var(--background-secondary))
  );
  z-index: -1;
  border-radius: inherit;
}
.messageGroupWrapper_ac90a2::before,
.reactionTooltip_fba897::after {
  background: var(
    --pop-up-color,
    var(--bg-overlay-chat, var(--background-primary))
  ) !important;
  border-radius: inherit;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.messageGroupWrapper_ac90a2::before {
  opacity: 0.25;
}
.reactionTooltip_fba897::after {
  opacity: var(--opacity-popup);
}
.footer_cedfaf::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  border-radius: inherit;
  background: var(
    --pop-up-color,
    var(--bg-overlay-3, var(--background-secondary))
  ) !important;
}
.submenuPaddingContainer_d90b3d::before,
.submenu_d90b3d.menu_d90b3d::before {
  width: calc(100% - 16px);
  left: 8px;
}
.layer_cd0de5:has(.container_e88961)::before {
  width: calc(100% - 16px);
  left: 16px;
}
.root_bc9cc2:has(.userProfileOuter_c69a7b) {
  overflow: visible;
}
.inner__999f6::before,
.inner_effbe2::before,
.root_f9a4c9::after,
.root_f9a4c9::before {
  border-radius: inherit;
}
.layerContainer_cd0de5 .roundedBanner_c3e427 {
  border-radius: calc(var(--radius-popup) - 6px) calc(var(--radius-popup) - 6px)
    0 0;
}
.profileEffects_f867f9 .inner_f867f9,
.root_b9fccc,
.userProfileOuter_c69a7b {
  border-radius: var(--radius-popup);
}
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > div
  > div
  > .overlayBackground_c69a7b {
  border-bottom-left-radius: max(var(--radius-popup) - 16px, 8px);
  border-bottom-right-radius: max(var(--radius-popup) - 16px, 8px);
}
.form_acae5d::after,
.menu_d90b3d,
.menu_d90b3d::after,
.menu_d90b3d::before,
.root_f9a4c9::before,
.scroller_d90b3d,
.scroller_d90b3d::after,
.scroller_d90b3d::before,
.submenuPaddingContainer_d90b3d::before,
.submenu_d90b3d.menu_d90b3d::before {
  border-radius: var(--radius-context) !important;
}
.footer_f9a4c9,
.inspector_c3120f {
  box-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.025),
    0 -1.5px 0 rgba(0, 0, 0, 0.025) !important;
}
.avatarHoverTarget_f89da9 .svg_c51b4e > circle,
.root_b9fccc .svg_c51b4e > circle {
  opacity: 0 !important;
}
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > div
  > div
  > div
  > svg
  > foreignObject
  > .banner_c3e427,
:not(aside):not(.customizationSection_b3a5c2)
  > svg
  > foreignObject
  > .biteSizeBanner_c3e427 {
  background-color: transparent !important;
}
.divider_c3e427:before {
  display: none !important;
}
.questionInput_f24a96,
.resultsGroup_b0286e:before,
.rolePillBorder_fa2f72 {
  border: none !important;
}
.header_ac90a2 {
  margin-bottom: 1px;
}
.theme-light .misc_e3c1c6,
.theme-light .text-sm-medium__726be[style*="color: var(--text-muted)"],
.theme-light .text-xs-normal__46d75[style*="color: var(--header-secondary)"],
.theme-light.userProfileModalOuter_c69a7b .additionalActionsIcon_ec3b75,
.theme-light > .userProfileInner_c69a7b .discriminator_afed89,
.theme-light > .userProfileInner_c69a7b .text-sm-normal__95a78 {
  color: rgba(0, 0, 0, 0.7) !important;
}
.theme-dark .misc_e3c1c6,
.theme-dark .text-sm-medium__726be[style*="color: var(--text-muted)"],
.theme-dark .text-xs-normal__46d75[style*="color: var(--header-secondary)"],
.theme-dark .userProfileModalOuter_c69a7b .additionalActionsIcon_ec3b75,
.theme-dark > .userProfileInner_c69a7b .discriminator_afed89,
.theme-dark > .userProfileInner_c69a7b .text-sm-normal__95a78 {
  color: rgba(255, 255, 255, 0.7) !important;
}
.theme-light > .userProfileInner_c69a7b .item_a0 {
  color: rgba(0, 0, 0, 0.8);
}
.theme-dark > .userProfileInner_c69a7b .item_a0 {
  color: rgba(255, 255, 255, 0.8);
}
.theme-dark .defaultColor_e9e35f,
.theme-light .defaultColor_e9e35f {
  color: var(--header-primary);
}
.channelHeader_f3978e {
  z-index: 0;
}
.messages_c06487 {
  z-index: 1;
}
.theme-light .popoutContainer_cf58b5,
.theme-light .tooltip_b6c360 {
  --background-floating: rgba(255, 255, 255, var(--opacity-popup));
  backdrop-filter: blur(var(--blur-popup));
}
.theme-dark .popoutContainer_cf58b5,
.theme-dark .tooltip_b6c360 {
  --background-floating: rgba(0, 0, 0, var(--opacity-popup));
  backdrop-filter: blur(var(--blur-popup));
}
.theme-dark .containerBackground_ccd3df {
  --background-floating: rgba(0, 0, 0, var(--opacity-popup));
}
.theme-light .containerBackground_ccd3df {
  --background-floating: rgba(255, 255, 255, var(--opacity-popup));
}
.container_ccd3df {
  backdrop-filter: blur(var(--blur-popup));
  border-radius: 8px;
}
.containerBackground_ccd3df:after {
  margin-top: 0;
}
.container_d0f4b1,
.emojiPicker_c6ee36 {
  box-shadow: none;
}
.animatorLeft_f88ae3 ::before {
  box-shadow: var(--elevation-stroke), var(--elevation-high);
}
.theme-light .unicodeShortcut_dfa278 {
  backdrop-filter: blur(8px) contrast(0.5) brightness(1.3);
  background: 0 0;
}
.theme-dark .unicodeShortcut_dfa278 {
  backdrop-filter: blur(8px) brightness(0.8);
  background: 0 0;
}
:not(aside):not(.customizationSection_b3a5c2)
  > .userProfileOuterThemed_c69a7b::before {
  background: linear-gradient(
    var(--profile-gradient-primary-color),
    var(--profile-gradient-secondary-color)
  ) !important;
  opacity: var(--opacity-popup) !important;
}
form.form_acae5d {
  position: inherit;
}
.quickswitcher_f4e139,
.rootWithShadow_f9a4c9:not(:has(> .quickswitcher_f4e139)) {
  box-shadow: 0 0 1000px #000 !important;
  border-radius: var(--radius-context);
}
.root_b9fccc.root_f9a4c9.small_f9a4c9.fullscreenOnMobile_f9a4c9 {
  box-shadow: 0 0 1000px #000 !important;
}
.root_f9a4c9 {
  transform: none !important;
}
.scroller_d90b3d:not(.none_c49869) {
  border: var(--context-menu-border) !important;
}
.theme-dark .benefit_a3545a,
.theme-dark .calloutContainer_fd8ff1,
.theme-dark .perks_fcea2f {
  background: rgba(0, 0, 0, var(--opacity-popup-inner)) !important;
}
.theme-light .benefit_a3545a,
.theme-light .calloutContainer_fd8ff1,
.theme-light .perks_fcea2f {
  background: rgba(255, 255, 255, var(--opacity-popup-inner)) !important;
}
:not(aside):not(.customizationSection_b3a5c2)
  > div
  > div
  > .overlayBackground_c69a7b::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--profile-body-background-color);
  border-radius: inherit;
  z-index: -1;
  opacity: calc(var(--opacity-popup-inner) * 2.22);
}
.userProfileInnerThemedNonPremium_c69a7b .overlayBackground_c69a7b::after {
  opacity: calc(var(--opacity-popup-inner)) !important;
}
.theme-dark .guildPopout_cf5d0a .footer_cf5d0a {
  background: rgba(0, 0, 0, 0.15);
}
.theme-light .guildPopout_cf5d0a .footer_cf5d0a {
  background: rgba(255, 255, 255, 0.15);
}
.perkRow_a899f7 {
  border-bottom: 0;
}
.premiumIconWrapper_c3e427 {
  display: none;
}
.layerContainer_cd0de5 {
  z-index: 9999;
}
.theme-dark,
.theme-light {
  --modal-background: transparent;
  --modal-footer-background: transparent;
}
.theme-light {
  --search-popout-option-non-text-color: rgba(0, 0, 0, 0.7);
}
.theme-dark {
  --search-popout-option-non-text-color: rgba(255, 255, 255, 0.7);
}
.theme-light
  :is(
    .searchOption_b0286e .answer_b0286e,
    .searchOption_b0286e .filter_b0286e,
    .resultsGroup_b0286e .header_b0286e
  ) {
  color: rgba(0, 0, 0, 0.7);
}
.theme-dark
  :is(
    .searchOption_b0286e .answer_b0286e,
    .searchOption_b0286e .filter_b0286e,
    .resultsGroup_b0286e .header_b0286e
  ) {
  color: rgba(255, 255, 255, 0.7);
}
.theme-dark .tooltipPrimary_b6c360 .tooltipPointer_b6c360 {
  --background-floating: rgba(0, 0, 0, calc(var(--opacity-popup) / 2));
}
.theme-light .tooltipPrimary_b6c360 .tooltipPointer_b6c360 {
  --background-floating: rgba(255, 255, 255, calc(var(--opacity-popup)));
}
