/*Userprofile backgrounds hiding*/
.userProfileInner_c69a7b .input_f8bc55, .popoutNoBannerPremium_c3e427,
:not(aside):not(.customizationSection_b3a5c2)>.userProfileOuterThemed_c69a7b, 
:not(aside):not(.customizationSection_b3a5c2)>.userProfileOuterUnthemed_c69a7b, 
:not(aside):not(.customizationSection_b3a5c2)>div>.userProfileInnerThemedWithBanner_c69a7b,
:not(aside):not(.customizationSection_b3a5c2)>div>.userProfileInnerThemedPremiumWithoutBanner_c69a7b,
:not(aside):not(.customizationSection_b3a5c2)>div>.userProfileInnerThemedNonPremium_c69a7b,
:not(aside):not(.customizationSection_b3a5c2)>div>div>.overlayBackground_c69a7b {
    background: none!important;
}
.userProfileInnerThemedNonPremium_c69a7b .popoutBanner_c3e427{
    opacity: 0;
}
/*frame*/
:not(aside):not(.customizationSection_b3a5c2)>div>.userProfileInnerThemedWithBanner_c69a7b:after,
:not(aside):not(.customizationSection_b3a5c2)>div>.userProfileInnerThemedPremiumWithoutBanner_c69a7b::after {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  padding: 4px;
  border-radius: calc(var(--radius-popup) + 1px);
  background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/*slight tint*/
.theme-light .wrapper_ba23fe, .theme-light .inner__999f6,
.theme-light .inner_effbe2 {
    background: rgba(0, 0, 0, 0.05) !important;
}
.theme-dark .wrapper_ba23fe, .theme-dark .inner__999f6,
.theme-dark .inner_effbe2 {
    background: rgba(255, 255, 255, 0.05) !important;
}

/*remove background*/
.container_d0f4b1,.container_b56bbc, .popout_c5b389, .footer_ac90a2, .option_b0286e::after, 
.focused_eedf95, .badgeList_ec3b75, .root_f9a4c9:not(.modalRoot_ad9cbd), 
:not(aside):not(.customizationSection_b3a5c2)>div>.userProfileInner_c69a7b:before, 
.wrapper_e06857, 
.profileBadges_f89da9, .footer_f9a4c9, .wrapper_ef319f,
.container_effbe2,.container__33507,
.channelHeader_f3978e,.messageGroupWrapper_ac90a2,
.messagesPopoutWrap_ac90a2, 
.header_ac90a2, .container_eedf95,.quickswitcher_f4e139, 
.input_f4e139, .scroller_f4e139, .menu_d90b3d, #popout_4842, 
.contentWrapper_af5dbb,  .wrapper_ba23fe,
.scroller_d90b3d, .container__d6dad3, .resultsGroup_b0286e,
.contentWrapper_af5dbb, .emojiPicker_c6ee36, .inspector_c3120f, 
.header_c6ee36, .modal_cedfaf, .rolePill_fa2f72,  .previewContainer_adbea6,
.container_f1c3d9,.container_fe1358, .footer_f82cc7, 
.reactors_f2bfbb, .scroller_f2bfbb, .list_f20a46, .header_e664f3, .container_acb8b3, .wrapper_efd8e6,
.header_fa4e6d, .autocomplete_f23da8 .wrapper_ba23fe, .guildSection_e58351,
.authorize_c5a065, .footer_c5a065, .contentWrapper_ed5743,
.optionBox_f2f431, .smallDecorationPreviewsContainer_aba31b,
.decorationPreview_aba31b, .decorationGridItem_b35b54, .vc-notification-root,
.navButtons_cd377c, paymentModalContent content_cc6017, 
.guildPopout_cf5d0a .body_cf5d0a,
.skuSelectModalHeader_f92df2, .skuSelectModalContent_f92df2, 
.tier2_c87d73, .tier0_c87d73, .body_bf926b, .benefit_a3545a,
.scroller_cbdbf0, .container__6e389, .voters_cbdbf0, 
.addAnswerButton_f24a96, .modalHeader_cd3d24,
.scrollTierBackground_f09e45, .wrapper_bfc2c6, .body_bf926b,
.wrapper_c43059, .contentFill_c43059 {
    background: none!important;
}

.tier2_c87d73::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: calc(var(--opacity-popup)*0.8);
    z-index: -1;
    border-radius: inherit;
    background-image: var(--custom-premium-colors-premium-gradient-tier-2);
}
.tier0_c87d73::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: calc(var(--opacity-popup)*0.8);
    z-index: -1;
    border-radius: inherit;
    background-image: var(--custom-premium-colors-premium-gradient-tier-0);
}

/*blur*/
.reactionTooltip_fba897,#sort-and-view, .container_ae4f46, .popout_c5b389, 
#user-profile-actions, .wrapper_ef319f ,
.messagesPopoutWrap_ac90a2,.contentWrapper_af5dbb, 
.quickswitcher_f4e139,.picker_cd703d,
.autocomplete_f23da8, .streamPreview_adbea6  ,.container_e88961,
.container_f1c3d9, .container__23c08,
.focusLock_f9a4c9>.modal_ed23b8,
.popout_e6af9c, [aria-labelledby]>.root_f9a4c9:not(:has(>[aria-labelledby])) ,
.uploadModal_f82cc7, .rootWithShadow_f9a4c9:has(>.reactorsContainer_f2bfbb),
.root_f9a4c9:has(>[id]), .root_f9a4c9:has(>.transitionGroup_ae36eb),
#manage-multi-account, .container_e664f3, [class^="toast_"],
.languageSelector_ad9cbd, .recentMentionsPopout_ddb5b4, 
.customColorPicker_bbc020, .root_f9a4c9:has(>div>div>form>.header_f9a4c9),
.prompt_cd377c, .vc-notification, .guildPopout_cf5d0a, 
.selectFilterPopout_cfe282, .container_b572de,
.root_f9a4c9:has(>.content_cd79c9)  {
    background: transparent!important;
    backdrop-filter: blur(var(--blur-popup));

}

/*blur before*/
.wrapper_c43059::before,
:not(.contentWrapper_af5dbb)>#emoji-picker-tab-panel::before,
.root_f9a4c9:has(>.form_acae5d)::before,
#guild-header-popout::before,
.container_eedf95::before,
:not(aside):not(.customizationSection_b3a5c2)>div>.userProfileInner_c69a7b:before, 
.modal_cedfaf::before,
.submenuPaddingContainer_d90b3d::before, .container_e88961::before,
#guild-context::before, #channel-attach::after, #friend-row::after,/*#message::after,  #thread-context::after,
#image-context::after, #expression-picker::after, #channel-context::after,
#user-settings-cog::after, #audio-device-context::after, #user-context::after,
#message-actions::after, #textarea-context::after, #vc-toolbox::after,  #gdm-context::after,
#vc-pindms-header-menu::after, #stream-context::after, #video-device-context::after,
#manage-streams::after, #spotify-album-menu::after, #spotify-Song-menu::after,
#spotify-Artist-menu::after, #spotify-Album-menu::after,
#channel-mention-context::after, #mentions-filter::after,
#dev-context::after*/ [role="menu"][id]:not(#account):not(#guild-context):not(#guild-header-popout)::after, 
.root_f9a4c9:has(>div>.connectionsContainer_ec99f9)::before {
    content: "";
    backdrop-filter: blur(var(--blur-popup));
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border-radius: inherit;
}
/*fix user review profile popup*/
:not(aside):not(.customizationSection_b3a5c2)>div>.userProfileInner_c69a7b:before {
    z-index: inherit;
}

/*color and transparency before or after*/
.wrapper_c43059::after,
.quickswitcher_f4e139::after,#sort-and-view::after, .container_ae4f46::before,
.form_acae5d::after, #guild-header-popout::after, .container_eedf95::after,
:not(aside):not(.customizationSection_b3a5c2)>.userProfileOuterThemed_c69a7b::before,
:not(aside):not(.customizationSection_b3a5c2)>.userProfileOuterUnthemed_c69a7b::before,
.menu_d90b3d:not(#guild-context):not(#sort-and-view).flexible_d90b3d:first-child::before, 
.submenu_d90b3d.menu_d90b3d::before,
.contentWrapper_af5dbb::before, 
:not(.contentWrapper_af5dbb)>#emoji-picker-tab-panel::after, #guild-context::after,
.layer_cd0de5:has(.container_e88961)::before,
.container__23c08::before,
.focusLock_f9a4c9>.modal_ed23b8::after,
.popout_e6af9c::after, 
[aria-labelledby]>.root_f9a4c9:not(:has(>[aria-labelledby]))::after,
.uploadModal_f82cc7::after, 
.rootWithShadow_f9a4c9:has(>.reactorsContainer_f2bfbb)::after,
.root_f9a4c9:has(>[id])::after, 
.root_f9a4c9:has(>.transitionGroup_ae36eb)::after, 
.container_e664f3::after, .languageSelector_ad9cbd::after, 
.recentMentionsPopout_ddb5b4::after, 
.root_f9a4c9:has(>div>.connectionsContainer_ec99f9)::after,
.popout_f6639d::after, .customColorPicker_bbc020::after,
.root_f9a4c9:has(>div>div>form>.header_f9a4c9)::after, 
.vc-notification::after, .guildPopout_cf5d0a::after,
.root_f9a4c9:has(>.content_cd79c9)::after  {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-3, var(--background-secondary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}

[class^="toast_"]::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-app-frame, var(--background-tertiary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}
.modal_cedfaf::after, .popout_c5b389::after, .picker_cd703d::before, 
.prompt_cd377c::after, .selectFilterPopout_cfe282::after, .container_b572de::after  {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-chat, var(--background-primary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}

.wrapper_ef319f::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-5, var(--background-primary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}
.autocomplete_f23da8::before,.streamPreview_adbea6::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-3, var(--background-secondary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}

.messageGroupWrapper_ac90a2::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    border-radius: inherit;
    background: var(--pop-up-color, var(--bg-overlay-chat, var(--background-primary)))!important;
}
.reactionTooltip_fba897::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
    background: var(--pop-up-color, var(--bg-overlay-chat, var(--background-primary)))!important;
}
.footer_cedfaf::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    border-radius: inherit;
    background: var(--pop-up-color, var(--bg-overlay-3, var(--background-secondary)))!important;
}




/*fix hidden scrollbars*/
.submenuPaddingContainer_d90b3d::before, .submenu_d90b3d.menu_d90b3d::before {
    width: calc(100% - 16px);
    left: 8px;
}
.layer_cd0de5:has(.container_e88961)::before {
    width: calc(100% - 16px);
    left: 16px;
}
/*border radius*/
.userPopoutOuter_c69a7b, .popout_c5b389, 
.container_eedf95, .messagesPopoutWrap_ac90a2, 
.menu_d90b3d,.scroller_d90b3d  {
}
.inner__999f6::before,
.inner_effbe2::before, .root_f9a4c9::after,.root_f9a4c9::before  {
border-radius: inherit;
}
.layerContainer_cd0de5 .roundedBanner_c3e427 {
    border-radius: calc(var(--radius-popup) - 6px) calc(var(--radius-popup) - 6px) 0 0;
}
.categoryList_c6ee36 {
    /*border-bottom-left-radius: var(--radius-popup) ;*/
}
.userProfileOuter_c69a7b, .root_b9fccc {
    border-radius: var(--radius-popup);
}

:not(aside):not(.customizationSection_b3a5c2)>div>div>div>.overlayBackground_c69a7b {
    border-bottom-left-radius: max(var(--radius-popup) - 16px, 8px);
    border-bottom-right-radius: max(var(--radius-popup) - 16px, 8px);
}

.submenuPaddingContainer_d90b3d::before,
.submenu_d90b3d.menu_d90b3d::before, .root_f9a4c9::before, .form_acae5d::after,
.menu_d90b3d::before, 
.menu_d90b3d, 
.menu_d90b3d::after, 
.scroller_d90b3d::before, 
.scroller_d90b3d,
.scroller_d90b3d::after {
    border-radius: var(--radius-context)!important;
}

/*simple line shadow above*/
.footer_f9a4c9, .inspector_c3120f {
        box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025)!important;
}

/*other*/
.avatarHoverTarget_f89da9 .svg_c51b4e > circle,
.root_b9fccc .svg_c51b4e > circle {
    opacity: 0!important;
}  
:not(aside):not(.customizationSection_b3a5c2)>div>div>div>div>svg>foreignObject>.banner_c3e427 {
    background-color: transparent!important;
}
.resultsGroup_b0286e:before, .rolePillBorder_fa2f72,
.questionInput_f24a96 {
    border: none!important;
}
.header_ac90a2 {
    margin-bottom: 1px;
}

/*.theme-light .defaultColor_a595eb,*/ .theme-light .misc_f14193, 
.theme-light>.userProfileInner_c69a7b .discriminator_afed89,
.theme-light.userProfileModalOuter_c69a7b .additionalActionsIcon_ec3b75,
.theme-light>.userProfileInner_c69a7b .text-sm-normal__95a78, 
.theme-light .text-sm-medium__726be[style*="color: var(--text-muted)"],
.theme-light .text-xs-normal__46d75[style*="color: var(--header-secondary)"] {
    color: rgba(0, 0, 0, 0.7)!important;
}
/*.theme-dark .defaultColor_a595eb,*/ .theme-dark .misc_f14193, 
.theme-dark>.userProfileInner_c69a7b .discriminator_afed89,
.theme-dark .userProfileModalOuter_c69a7b .additionalActionsIcon_ec3b75,
.theme-dark>.userProfileInner_c69a7b .text-sm-normal__95a78,
.theme-dark .text-sm-medium__726be[style*="color: var(--text-muted)"],
.theme-dark .text-xs-normal__46d75[style*="color: var(--header-secondary)"] {
    color: rgba(255, 255, 255, 0.7)!important;
}
.theme-light>.userProfileInner_c69a7b .item_a0  {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark>.userProfileInner_c69a7b .item_a0 {
    color: rgba(255, 255, 255, 0.8);
}

.theme-light .defaultColor_e9e35f, .theme-dark .defaultColor_e9e35f {
    color: var(--header-primary);
}


.channelHeader_f3978e {
    z-index: 0;
}
.messages_c06487 {
    z-index: 1;
    position: relative;
}
#notification-actions {
    position: relative;
}

/*Tooltip*/
.theme-light .tooltip_b6c360, .theme-light .popoutContainer_cf58b5 { 
    --background-floating: rgba(255,255,255,var(--opacity-popup));
    backdrop-filter: blur(var(--blur-popup));
}
.theme-dark .tooltip_b6c360, .theme-dark .popoutContainer_cf58b5 { 
    --background-floating: rgba(0,0,0,var(--opacity-popup));
    backdrop-filter: blur(var(--blur-popup));
}
.theme-dark .containerBackground_ccd3df  { 
    --background-floating: rgba(0,0,0,var(--opacity-popup));
}
.theme-light .containerBackground_ccd3df  { 
    --background-floating: rgba(255,255,255,var(--opacity-popup));
}

.container_ccd3df{
    backdrop-filter: blur(var(--blur-popup));
    border-radius: 8px;
}
.containerBackground_ccd3df:after{
    margin-top: 0;
}

.emojiPicker_c6ee36, .container_d0f4b1 {
    box-shadow: none;
}
.animatorLeft_f88ae3 ::before {
    box-shadow: var(--elevation-stroke),var(--elevation-high);
}

.theme-light .unicodeShortcut_dfa278 {
    backdrop-filter: blur(8px) contrast(0.5) brightness(1.3);
    background: none;
}
.theme-dark .unicodeShortcut_dfa278 {
    backdrop-filter: blur(8px) brightness(0.8);
    background: none;
}
  
:not(aside):not(.customizationSection_b3a5c2)>.userProfileOuterThemed_c69a7b::before {
    background: linear-gradient(
        var(--profile-gradient-primary-color),
        var(--profile-gradient-secondary-color))!important; 
    opacity:var(--opacity-popup)!important;
}

#image-context, #expression-picker, #channel-context, 
#user-context, #mentions-filter, #dev-context, .flexible_d90b3d {
    position: relative;
}

form.form_acae5d {
    position: inherit;
}

.backdrop__1a911:not(:has(~div>div>:is(.modal_aee8c6,.carouselModal_d2b9a1))) {
    background: none!important;
}

.rootWithShadow_f9a4c9:not(:has(> .quickswitcher_f4e139)),
.quickswitcher_f4e139 {
    box-shadow: 0px 0px 1000px rgba(0, 0, 0, 1)!important;
    border-radius: var(--radius-context);
}
.root_b9fccc.root_f9a4c9.small_f9a4c9.fullscreenOnMobile_f9a4c9 {
    box-shadow: 0px 0px 1000px rgba(0, 0, 0, 1)!important;
}

.root_f9a4c9 {
    transform: none!important;
}

.scroller_d90b3d:not(.none_c49869) {
    border: var(--context-menu-border)!important;
}

/*inner boxes*/
.theme-dark .perks_fcea2f, .theme-dark .benefit_a3545a, .theme-dark .calloutContainer_fd8ff1 {
    background: rgba(0, 0, 0, var(--opacity-popup-inner))!important;
}
.theme-light .perks_fcea2f, .theme-light .benefit_a3545a, .theme-light .calloutContainer_fd8ff1 {
    background: rgba(255, 255, 255, var(--opacity-popup-inner))!important;
}

:not(aside):not(.customizationSection_b3a5c2)>div>div>.overlayBackground_c69a7b::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--profile-body-background-color);    
    border-radius: inherit;
    z-index: -1;
    opacity: calc(var(--opacity-popup-inner) * 2.22);
}
.userProfileInnerThemedNonPremium_c69a7b .overlayBackground_c69a7b::after{
    opacity: calc(var(--opacity-popup-inner))!important;
}


.theme-dark .guildPopout_cf5d0a .footer_cf5d0a {
    background: rgba(0, 0, 0, 0.15);
}
.theme-light .guildPopout_cf5d0a .footer_cf5d0a {
    background: rgba(255, 255, 255, 0.15);
}

.perkRow_a899f7 {border-bottom: 0;}

.premiumIconWrapper_c3e427 { display: none; }

.layerContainer_cd0de5 {
    z-index: 9999;
}

.theme-dark, .theme-light {
    --modal-background: transparent;
    --modal-footer-background: transparent;
}

.theme-light {
    --search-popout-option-non-text-color: rgba(0, 0, 0, 0.7);
}
.theme-dark {
    --search-popout-option-non-text-color: rgba(255, 255, 255, 0.7);
}

.theme-light :is(.searchOption_b0286e .answer_b0286e, 
    .searchOption_b0286e .filter_b0286e, .resultsGroup_b0286e .header_b0286e ) {
    color: rgba(0, 0, 0, 0.7);
}
.theme-dark :is(.searchOption_b0286e .answer_b0286e, 
    .searchOption_b0286e .filter_b0286e, .resultsGroup_b0286e .header_b0286e ) {
    color: rgba(255, 255, 255, 0.7);
}

.theme-dark .tooltipPrimary_b6c360 .tooltipPointer_b6c360{
    --background-floating: rgba(0, 0, 0, calc(var(--opacity-popup) / 2));
}
.theme-light .tooltipPrimary_b6c360 .tooltipPointer_b6c360 {
    --background-floating: rgba(255, 255, 255, calc(var(--opacity-popup)));
}
